<article class="card">
    <div class="card-header flex-row justify-space-between">
        <a class="card-header" href="/post/{{id}}" target="_blank">{{title}}</a>
        <h4 class="card-header">
            by {{user.username}} on {{format_date created_at}}  
        </h4>
    </div>
    <div class="meta">
    {{vote_count}} {{format_plural 'point' vote_count}} |

  
    <div class="flex-row">
        {{content}}
    </div>
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural 'comment' comments.length}}</a>
    </div>
</article>